*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */

    /* primary */
    --red-color: hsl(0, 78%, 62%);
    --cyan-color: hsl(180, 62%, 55%);
    --orange-color: hsl(34, 97%, 64%);
    --blue-color: hsl(212, 86%, 64%);

    /* neutral */
    --grey-500-color: hsl(234, 12%, 34%);
    --grey-400-color: hsl(212, 6%, 44%);
    --white-color: hsl(0, 0%, 100%);

    /* ------ */

    /* font-size */

    --fs-200: 200;
    --fs-400: 400;
    --fs-600: 600;

    /* --------- */
}

body {
    padding: 5rem 0;
    font-family: "Poppins",sans-serif;
    font-size: 15px;
    font-weight: var(--fs-400);
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1 span {
    font-weight: var(--fs-200);
}

header h1 {
    width: 100%;
    margin-bottom: 1rem;
    font-weight: var(--fs-600);
}

header p {
    width: 80%;
    margin: 0 auto;
}

.row {
    padding: 3rem 0;
    display: grid;
    gap: 3rem;
}

.card {
    width: 100%;
    height: 300px;
    padding: 2rem  2.5rem;
    background-color: var(--white-color);
    box-shadow: 0px 5px 10px 0px var(--grey-400-color);
    border-radius: 8px;
}

.card h2 {
    font-weight: var(--fs-600);
}

.card .img {
    text-align: right;
    margin-top: 1.75rem;
}

.card-01 {
    border-top: 5px solid  var(--cyan-color);
}

.card-02 {
    border-top: 5px solid  var(--red-color);
}

.card-03 {
    border-top: 5px solid  var(--orange-color);
}

.card-04 {
    border-top: 5px solid  var(--blue-color);
}
@media screen and (min-width: 1020px) {
    
    header p {
        width: 40%;
        margin: 0 auto;
    }

    .card .img {
        margin-top: 4rem
    }

    .row {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 125px);
        justify-content: center;
    }

    .card-01, .card-04 {
        grid-row: 2 / 4;
    }

    .card-02 {
        grid-row: 1 / 3;
    }

    .card-03 {
        grid-row: 3 / 5;
    }
}


